<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>深圳大因精准生命科技有限公司</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet" />
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand" id="headerLink"></h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading" id="h1"></h1>
        <p class="lead">
          我们致力于帮助外国人更好的在中国生活！从找工作，签证，落户，法律咨询，当地生活等为其提供一站式的服务。<br />
          <small>合作咨询：(86) 0755 21012512</small>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Copyright 2015 - 2020
            <a href="https://weibo.com/u/5492401803"
              >@ 深圳大因精准生命科技有限公司</a
            >.
          </p>
          <p>
            <a
              class="text-muted"
              href="http://www.beian.miit.gov.cn"
              target="_blank"
              id="code"
              >粤ICP备16003809号-1</a
            >
          </p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      var host = window.location.host.replace("www.", "");
      $("#headerLink").text(host);
      $("#h1").text(host);

      var obj = {
        "dayinmed.com": "粤ICP备16003809号-3",
      };
      $("#code").text(obj[host] || "粤ICP备16003809号");
    </script>
  </body>
</html>
